/*
Theme Name: wpico Child
Theme URI:
Description: A starter child theme for wpico
Author:
Author URI:
Template: wpico
Version: 1.0.0
License: MIT License
License URI: https://opensource.org/licenses/MIT
Text Domain: wpico-child
*/
