@use "../abstracts" as *;

/* Mobile menu */
body > header {

  /* Toggle: shows and hides the menu */
  #nav-toggle {
    display: none;
  }
  #nav-toggle:checked~nav{
    display: block;
  }

  label {
    display: block;
    position: absolute;
    right: space(m);
    top: space(m);

    /* Hamburger button */
    .nav-toggle-btn {
      display: block;
      background: url($burger) center center no-repeat;
      height: 28px;
      width: 28px;
    }

    /* Breakpoint L */
    @media (min-width: breakpoint(l)) {
      display: none !important;
    }

  }

  /* Menu */
  nav {
    background: paint(white);
    display: none;
    margin: 0;
    padding: space(l) space(xxl) space(l) space(xl);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    label {
      @extend .close-btn !optional;
    }

    ul {
      display: block;

      li {
        display: block;
        margin-bottom: space(m);
        padding: 0;
        position: relative;

        a{
          background-position: left center;
          color: paint(darker);
          display: block;
          font-family: $secondary-font;
          font-size: font-size(s);
          padding-left: space(xl);
          text-transform: uppercase;

          &:hover {
            color: paint(darkest);
          }

        }

      }

    }
    
    /* Breakpoint L: Desktop menu */
    @media (min-width: breakpoint(l)) {
      background: transparent;
      display: block;
      float: none;
      // left: 50%;
      margin: 0;
      padding: 0;
      position: relative;
      // top: space(xl);
      // transform: translateX(-50%);
      // width: auto;
      
     label {
       display: none !important;
     } 
      
      ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        // white-space: nowrap;
        
         li {
           display: inline-block;
           margin: 0 space(2xs) 0 0;
           
           a {
             border-radius: 0;
             color: paint(darkest);
             display: block;
             font-size: font-size(xs);
             font-weight: 500;
             padding: space(xs) space(2xs);
             margin: 0;
             max-width: 200px;
           }
           
         }
        
      }
      
    }

  }
  
}