// Brand Colors
$primary-color: PRIMARY_COLOR;
$secondary-color: SECONDARY_COLOR;

// Utility Colors
$success: #28a745;
$warning: #ffc107;
$danger: #dc3545;
$info: #17a2b8;

// Grayscale
$white: #ffffff;
$gray-100: #f8f9fa;
$gray-500: #adb5bd;
$gray-900: #212529;
$black: #000000;