@use "sass:map";

$colors: (
    primary: #19199F,
    secondary: #5555B5,
    accent: #5555B5,
    highlight: #FF9E1B,
    white: #ffffff,
    lightest: #f5f7fa,
    lighter: #e2e8f0,
    darker: #19199F,
    darkest: #19199F,
    black: #19199F,
) !default;

@function paint($key) {
    @return map.get($colors, $key);
}