/* Default */

$primary-font: "Montserrat", sans-serif;
$secondary-font: "Raleway", sans-serif;

body {
  font-family: $primary-font;
  font-size: var(--step-0);
  font-optical-sizing: auto;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
  line-height: var(--space-l);
}

h1 {
  font-family: $primary-font;
}

h2, h3, h4, h5, h6 {
  font-family: $secondary-font;
}

// fluid font sizes 2xs, xs, s, m, l, xl, 2xl