@use "../abstracts" as *;

body > header {
    position: relative;

    a {
        color: paint(darkest);
        display: inline-block;
        text-decoration: none;

        h1 {
            color: paint(darkest);
            font-size: font-size(l);
            line-height: space(xl);
        }

    }

    small {
        color: paint(darker);
        display: block;
        font-size: font-size(s);
        line-height: space(m);
        max-width: 650px;
    }


} 